<div *ngIf="race">
  <h2>{{race.track}}</h2>
  <ul>
    <li>Race Id: {{race.id}}</li>
    <li>Season Id: {{race.seasonId}}</li>
    <li>Race Number: {{race.raceNumber}}</li>
    <li>Race Type: {{race.raceType}}</li>
  </ul>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Driver</th>
        <th>Car</th>
        <th>Position</th>
        <th>Start Position</th>
        <th>Incidents</th>
        <th>Points</th>
        <th>Infraction Points</th>
        <th>Penalty Points</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let raceRow of race.raceRows">
        <tr app-race-row [raceRow]="raceRow"></tr>
      </ng-container>
      <!-- <tr *ngFor="let raceRow of race.raceRows">
        <app-race-row [raceRow]="raceRow"></app-race-row>
      </tr> -->
    </tbody>
  </table>
</div>